*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(40, 40, 40);
}

header{
    background-color: rgb(20, 20, 20);
    color: #5cd6ff;
    text-align: center;
    padding: 15px;
}

section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

section p{
    margin-top: 13px;
    font-size: 16pt;
    color: #5cd6ff;
}

section img{
    width: 90%;
    border-radius: 18px;
    align-self: center;
    margin-bottom: 10px;
}